[submodule "docs/examples/minimal-example"]
  path = docs/examples/minimal-example
  url = https://github.com/cgold-examples/minimal-example
[submodule "docs/examples/minimal-with-message"]
  path = docs/examples/minimal-with-message
  url = https://github.com/cgold-examples/minimal-with-message
[submodule "docs/examples/minimum-required-example"]
  path = docs/examples/minimum-required-example
  url = https://github.com/cgold-examples/minimum-required-example
[submodule "docs/examples/policy-examples"]
  path = docs/examples/policy-examples
  url = https://github.com/cgold-examples/policy-examples
[submodule "docs/examples/project-examples"]
  path = docs/examples/project-examples
  url = https://github.com/cgold-examples/project-examples
[submodule "docs/examples/usage-of-variables"]
  path = docs/examples/usage-of-variables
  url = https://github.com/cgold-examples/usage-of-variables
[submodule "docs/rtfd-css"]
  path = docs/rtfd-css
  url = https://github.com/ruslo/rtfd-css
[submodule "docs/examples/cmake-sources"]
  path = docs/examples/cmake-sources
  url = https://github.com/cgold-examples/cmake-sources
[submodule "docs/examples/control-structures"]
  path = docs/examples/control-structures
  url = https://github.com/cgold-examples/control-structures
[submodule "docs/examples/platforms-android-on-windows"]
  path = docs/examples/platforms-android-on-windows
  url = https://github.com/cgold-examples/platforms-android-on-windows
[submodule "docs/examples/library-examples"]
  path = docs/examples/library-examples
  url = https://github.com/cgold-examples/library-examples
[submodule "docs/examples/install-examples"]
  path = docs/examples/install-examples
  url = https://github.com/cgold-examples/install-examples
[submodule "docs/examples/executable-examples"]
  path = docs/examples/executable-examples
  url = https://github.com/cgold-examples/executable-examples
[submodule "docs/examples/test-examples"]
  path = docs/examples/test-examples
  url = https://github.com/cgold-examples/test-examples
[submodule "docs/examples/toolchain-usage-examples"]
	path = docs/examples/toolchain-usage-examples
	url = https://github.com/cgold-examples/toolchain-usage-examples
[submodule "docs/examples/dep-examples/deps-submodule-option"]
	path = docs/examples/dep-examples/deps-submodule-option
	url = https://github.com/cgold-examples/deps-submodule-option
[submodule "docs/examples/dep-examples/deps-submodule-conflict"]
	path = docs/examples/dep-examples/deps-submodule-conflict
	url = https://github.com/cgold-examples/deps-submodule-conflict
[submodule "docs/examples/dep-examples/deps-find-package"]
	path = docs/examples/dep-examples/deps-find-package
	url = https://github.com/cgold-examples/deps-find-package
[submodule "docs/examples/dep-examples/deps-super-build"]
	path = docs/examples/dep-examples/deps-super-build
	url = https://github.com/cgold-examples/deps-super-build
