[submodule "docs/examples/minimal-example"]
  path = docs/examples/minimal-example
  url = https://github.com/cgold-examples/minimal-example
[submodule "docs/examples/minimal-with-message"]
  path = docs/examples/minimal-with-message
  url = https://github.com/cgold-examples/minimal-with-message
[submodule "docs/examples/minimum-required-example"]
  path = docs/examples/minimum-required-example
  url = https://github.com/cgold-examples/minimum-required-example
[submodule "docs/examples/policy-examples"]
  path = docs/examples/policy-examples
  url = https://github.com/cgold-examples/policy-examples
[submodule "docs/examples/project-examples"]
  path = docs/examples/project-examples
  url = https://github.com/cgold-examples/project-examples
[submodule "docs/examples/usage-of-variables"]
  path = docs/examples/usage-of-variables
  url = https://github.com/cgold-examples/usage-of-variables
[submodule "docs/rtfd-css"]
  path = docs/rtfd-css
  url = https://github.com/ruslo/rtfd-css
[submodule "docs/examples/cmake-sources"]
  path = docs/examples/cmake-sources
  url = https://github.com/cgold-examples/cmake-sources
