/* GitHub */
.rst-content .admonition-examples-on-github {
  background-color: #dbfaf4 !important;
  padding-bottom: 1px !important;
}

.rst-content .admonition-examples-on-github .admonition-title {
  background-color: #1abc9c !important;
}

.rst-content .admonition-examples-on-github .admonition-title:before {
  content:url('https://docs.hunter.sh/thirdpartylogos/octocat-16x16.png');
}

/* Stackoverflow */
.rst-content .admonition-stackoverflow {
  background-color: #dbfaf4 !important;
  padding-bottom: 1px !important;
}

.rst-content .admonition-stackoverflow .admonition-title {
  background-color: #1abc9c !important;
}

.rst-content .admonition-stackoverflow .admonition-title:before {
  content:url('https://docs.hunter.sh/thirdpartylogos/stackoverflow-16x16.png');
}

/* CMake */
.rst-content .admonition-cmake-documentation {
  background-color: #dbfaf4 !important;
  padding-bottom: 1px !important;
}

.rst-content .admonition-cmake-documentation .admonition-title {
  background-color: #1abc9c !important;
}

.rst-content .admonition-cmake-documentation .admonition-title:before {
  content:url('https://docs.hunter.sh/thirdpartylogos/cmake-16x16.png');
}
